/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.solifyn.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.solifyn.model.Invoice
import com.solifyn.model.Order
import com.solifyn.model.OrderList
import com.solifyn.model.OrderRefundCreate
import com.solifyn.model.OrderUpdate

import com.squareup.moshi.Json

import com.solifyn.infrastructure.ApiClient
import com.solifyn.infrastructure.ApiResponse
import com.solifyn.infrastructure.ClientException
import com.solifyn.infrastructure.ClientError
import com.solifyn.infrastructure.ServerException
import com.solifyn.infrastructure.ServerError
import com.solifyn.infrastructure.MultiValueMap
import com.solifyn.infrastructure.PartConfig
import com.solifyn.infrastructure.RequestConfig
import com.solifyn.infrastructure.RequestMethod
import com.solifyn.infrastructure.ResponseType
import com.solifyn.infrastructure.Success
import com.solifyn.infrastructure.toMultiValue

class OrdersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.solifyn.com")
        }
    }

    /**
     * Retrieve Order
     * Retrieve details of a specific order/payment by ID.
     * @param id The unique order/payment ID.
     * @return Order
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersGet(id: kotlin.String) : Order {
        val localVarResponse = ordersGetWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Order
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve Order
     * Retrieve details of a specific order/payment by ID.
     * @param id The unique order/payment ID.
     * @return ApiResponse<Order?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersGetWithHttpInfo(id: kotlin.String) : ApiResponse<Order?> {
        val localVariableConfig = ordersGetRequestConfig(id = id)

        return request<Unit, Order>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersGet
     *
     * @param id The unique order/payment ID.
     * @return RequestConfig
     */
    fun ordersGetRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/orders/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Get Order Invoice
     * Retrieve the generated invoice details for the specified order.
     * @param id The unique order/payment ID.
     * @return Invoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersGetInvoice(id: kotlin.String) : Invoice {
        val localVarResponse = ordersGetInvoiceWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Invoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Order Invoice
     * Retrieve the generated invoice details for the specified order.
     * @param id The unique order/payment ID.
     * @return ApiResponse<Invoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersGetInvoiceWithHttpInfo(id: kotlin.String) : ApiResponse<Invoice?> {
        val localVariableConfig = ordersGetInvoiceRequestConfig(id = id)

        return request<Unit, Invoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersGetInvoice
     *
     * @param id The unique order/payment ID.
     * @return RequestConfig
     */
    fun ordersGetInvoiceRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/orders/{id}/invoice".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * List Orders
     * List and query orders/payments belonging to your active business.
     * @param createdAtLte Filter by creation date less than or equal to. (optional)
     * @param createdAtGte Filter by creation date greater than or equal to. (optional)
     * @param productId Filter by product identifier. (optional)
     * @param customerId Filter by customer identifier. (optional)
     * @param status Filter by order/payment status. (optional)
     * @param pageSize Size of a page, defaults to 10. Maximum is 100. (optional, default to 10)
     * @param pageNumber Page number, defaults to 1. (optional, default to 1)
     * @return OrderList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersList(createdAtLte: kotlin.String? = null, createdAtGte: kotlin.String? = null, productId: kotlin.String? = null, customerId: kotlin.String? = null, status: kotlin.String? = null, pageSize: java.math.BigDecimal? = java.math.BigDecimal("10"), pageNumber: java.math.BigDecimal? = java.math.BigDecimal("1")) : OrderList {
        val localVarResponse = ordersListWithHttpInfo(createdAtLte = createdAtLte, createdAtGte = createdAtGte, productId = productId, customerId = customerId, status = status, pageSize = pageSize, pageNumber = pageNumber)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as OrderList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List Orders
     * List and query orders/payments belonging to your active business.
     * @param createdAtLte Filter by creation date less than or equal to. (optional)
     * @param createdAtGte Filter by creation date greater than or equal to. (optional)
     * @param productId Filter by product identifier. (optional)
     * @param customerId Filter by customer identifier. (optional)
     * @param status Filter by order/payment status. (optional)
     * @param pageSize Size of a page, defaults to 10. Maximum is 100. (optional, default to 10)
     * @param pageNumber Page number, defaults to 1. (optional, default to 1)
     * @return ApiResponse<OrderList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersListWithHttpInfo(createdAtLte: kotlin.String?, createdAtGte: kotlin.String?, productId: kotlin.String?, customerId: kotlin.String?, status: kotlin.String?, pageSize: java.math.BigDecimal?, pageNumber: java.math.BigDecimal?) : ApiResponse<OrderList?> {
        val localVariableConfig = ordersListRequestConfig(createdAtLte = createdAtLte, createdAtGte = createdAtGte, productId = productId, customerId = customerId, status = status, pageSize = pageSize, pageNumber = pageNumber)

        return request<Unit, OrderList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersList
     *
     * @param createdAtLte Filter by creation date less than or equal to. (optional)
     * @param createdAtGte Filter by creation date greater than or equal to. (optional)
     * @param productId Filter by product identifier. (optional)
     * @param customerId Filter by customer identifier. (optional)
     * @param status Filter by order/payment status. (optional)
     * @param pageSize Size of a page, defaults to 10. Maximum is 100. (optional, default to 10)
     * @param pageNumber Page number, defaults to 1. (optional, default to 1)
     * @return RequestConfig
     */
    fun ordersListRequestConfig(createdAtLte: kotlin.String?, createdAtGte: kotlin.String?, productId: kotlin.String?, customerId: kotlin.String?, status: kotlin.String?, pageSize: java.math.BigDecimal?, pageNumber: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (createdAtLte != null) {
                    put("createdAtLte", listOf(createdAtLte.toString()))
                }
                if (createdAtGte != null) {
                    put("createdAtGte", listOf(createdAtGte.toString()))
                }
                if (productId != null) {
                    put("product_id", listOf(productId.toString()))
                }
                if (customerId != null) {
                    put("customer_id", listOf(customerId.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (pageNumber != null) {
                    put("pageNumber", listOf(pageNumber.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/orders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Update Order Billing Address
     * Update the billing details of an existing order.
     * @param id The unique order/payment ID.
     * @param orderUpdate 
     * @return Order
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersUpdate(id: kotlin.String, orderUpdate: OrderUpdate) : Order {
        val localVarResponse = ordersUpdateWithHttpInfo(id = id, orderUpdate = orderUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Order
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Update Order Billing Address
     * Update the billing details of an existing order.
     * @param id The unique order/payment ID.
     * @param orderUpdate 
     * @return ApiResponse<Order?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersUpdateWithHttpInfo(id: kotlin.String, orderUpdate: OrderUpdate) : ApiResponse<Order?> {
        val localVariableConfig = ordersUpdateRequestConfig(id = id, orderUpdate = orderUpdate)

        return request<OrderUpdate, Order>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersUpdate
     *
     * @param id The unique order/payment ID.
     * @param orderUpdate 
     * @return RequestConfig
     */
    fun ordersUpdateRequestConfig(id: kotlin.String, orderUpdate: OrderUpdate) : RequestConfig<OrderUpdate> {
        val localVariableBody = orderUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/orders/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Create Refund
     * Initiate a full or partial refund for a specific payment/order.
     * @param id The unique order/payment ID.
     * @param orderRefundCreate 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun refundsCreate(id: kotlin.String, orderRefundCreate: OrderRefundCreate) : Unit {
        val localVarResponse = refundsCreateWithHttpInfo(id = id, orderRefundCreate = orderRefundCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Refund
     * Initiate a full or partial refund for a specific payment/order.
     * @param id The unique order/payment ID.
     * @param orderRefundCreate 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun refundsCreateWithHttpInfo(id: kotlin.String, orderRefundCreate: OrderRefundCreate) : ApiResponse<Unit?> {
        val localVariableConfig = refundsCreateRequestConfig(id = id, orderRefundCreate = orderRefundCreate)

        return request<OrderRefundCreate, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation refundsCreate
     *
     * @param id The unique order/payment ID.
     * @param orderRefundCreate 
     * @return RequestConfig
     */
    fun refundsCreateRequestConfig(id: kotlin.String, orderRefundCreate: OrderRefundCreate) : RequestConfig<OrderRefundCreate> {
        val localVariableBody = orderRefundCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/orders/{id}/refund".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
