/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.solifyn.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.solifyn.model.Product
import com.solifyn.model.ProductCreate
import com.solifyn.model.ProductMessageResponseDto
import com.solifyn.model.ProductUpdate
import com.solifyn.model.ProductsArchive200Response
import com.solifyn.model.ProductsList200Response
import com.solifyn.model.ProductsUnarchive200Response

import com.squareup.moshi.Json

import com.solifyn.infrastructure.ApiClient
import com.solifyn.infrastructure.ApiResponse
import com.solifyn.infrastructure.ClientException
import com.solifyn.infrastructure.ClientError
import com.solifyn.infrastructure.ServerException
import com.solifyn.infrastructure.ServerError
import com.solifyn.infrastructure.MultiValueMap
import com.solifyn.infrastructure.PartConfig
import com.solifyn.infrastructure.RequestConfig
import com.solifyn.infrastructure.RequestMethod
import com.solifyn.infrastructure.ResponseType
import com.solifyn.infrastructure.Success
import com.solifyn.infrastructure.toMultiValue

class ProductsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.solifyn.com")
        }
    }

    /**
     * Archive Product
     * Archive a specific product to hide it from checkout pages and search results. Products are soft-deleted (archived) and can be restored using the unarchive endpoint.
     * @param id The unique product ID to archive.
     * @return ProductsArchive200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productsArchive(id: kotlin.String) : ProductsArchive200Response {
        val localVarResponse = productsArchiveWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductsArchive200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Archive Product
     * Archive a specific product to hide it from checkout pages and search results. Products are soft-deleted (archived) and can be restored using the unarchive endpoint.
     * @param id The unique product ID to archive.
     * @return ApiResponse<ProductsArchive200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productsArchiveWithHttpInfo(id: kotlin.String) : ApiResponse<ProductsArchive200Response?> {
        val localVariableConfig = productsArchiveRequestConfig(id = id)

        return request<Unit, ProductsArchive200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productsArchive
     *
     * @param id The unique product ID to archive.
     * @return RequestConfig
     */
    fun productsArchiveRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/products/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Create Product
     * Create a new product within your active business.
     * @param productCreate 
     * @return Product
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productsCreate(productCreate: ProductCreate) : Product {
        val localVarResponse = productsCreateWithHttpInfo(productCreate = productCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Product
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Product
     * Create a new product within your active business.
     * @param productCreate 
     * @return ApiResponse<Product?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productsCreateWithHttpInfo(productCreate: ProductCreate) : ApiResponse<Product?> {
        val localVariableConfig = productsCreateRequestConfig(productCreate = productCreate)

        return request<ProductCreate, Product>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productsCreate
     *
     * @param productCreate 
     * @return RequestConfig
     */
    fun productsCreateRequestConfig(productCreate: ProductCreate) : RequestConfig<ProductCreate> {
        val localVariableBody = productCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/products",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Retrieve Product
     * Retrieve details of a specific product using its ID.
     * @param id The unique product ID.
     * @return Product
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productsGet(id: kotlin.String) : Product {
        val localVarResponse = productsGetWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Product
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve Product
     * Retrieve details of a specific product using its ID.
     * @param id The unique product ID.
     * @return ApiResponse<Product?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productsGetWithHttpInfo(id: kotlin.String) : ApiResponse<Product?> {
        val localVariableConfig = productsGetRequestConfig(id = id)

        return request<Unit, Product>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productsGet
     *
     * @param id The unique product ID.
     * @return RequestConfig
     */
    fun productsGetRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/products/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter sorting
     */
     enum class SortingProductsList(val value: kotlin.String) {
         @Json(name = "created_at") created_at("created_at"),
         @Json(name = "-created_at") MinusCreated_at("-created_at"),
         @Json(name = "name") name("name"),
         @Json(name = "-name") MinusName("-name"),
         @Json(name = "price_amount") price_amount("price_amount"),
         @Json(name = "-price_amount") MinusPrice_amount("-price_amount");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * List Products
     * List and query products belonging to your active business with support for fuzzy search, filters, pagination, and sorting.
     * @param pricingType Filter by pricing type. (optional)
     * @param sorting Sorting criterion. Add a minus sign - before the criteria name to sort by descending order. (optional)
     * @param limit Size of a page, defaults to 10. Maximum is 100. (optional, default to 10)
     * @param page Page number, defaults to 1. (optional, default to 1)
     * @param isRecurring Filter on recurring products (subscriptions). If true, only subscription tiers are returned. If false, only one-time purchase products are returned. (optional)
     * @param isArchived Filter by archived status. (optional)
     * @param query Filter by product name (fuzzy, case-insensitive). (optional)
     * @param id Filter by product ID. (optional)
     * @return ProductsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productsList(pricingType: kotlin.String? = null, sorting: SortingProductsList? = null, limit: java.math.BigDecimal? = java.math.BigDecimal("10"), page: java.math.BigDecimal? = java.math.BigDecimal("1"), isRecurring: kotlin.Boolean? = null, isArchived: kotlin.Boolean? = null, query: kotlin.String? = null, id: kotlin.String? = null) : ProductsList200Response {
        val localVarResponse = productsListWithHttpInfo(pricingType = pricingType, sorting = sorting, limit = limit, page = page, isRecurring = isRecurring, isArchived = isArchived, query = query, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List Products
     * List and query products belonging to your active business with support for fuzzy search, filters, pagination, and sorting.
     * @param pricingType Filter by pricing type. (optional)
     * @param sorting Sorting criterion. Add a minus sign - before the criteria name to sort by descending order. (optional)
     * @param limit Size of a page, defaults to 10. Maximum is 100. (optional, default to 10)
     * @param page Page number, defaults to 1. (optional, default to 1)
     * @param isRecurring Filter on recurring products (subscriptions). If true, only subscription tiers are returned. If false, only one-time purchase products are returned. (optional)
     * @param isArchived Filter by archived status. (optional)
     * @param query Filter by product name (fuzzy, case-insensitive). (optional)
     * @param id Filter by product ID. (optional)
     * @return ApiResponse<ProductsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productsListWithHttpInfo(pricingType: kotlin.String?, sorting: SortingProductsList?, limit: java.math.BigDecimal?, page: java.math.BigDecimal?, isRecurring: kotlin.Boolean?, isArchived: kotlin.Boolean?, query: kotlin.String?, id: kotlin.String?) : ApiResponse<ProductsList200Response?> {
        val localVariableConfig = productsListRequestConfig(pricingType = pricingType, sorting = sorting, limit = limit, page = page, isRecurring = isRecurring, isArchived = isArchived, query = query, id = id)

        return request<Unit, ProductsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productsList
     *
     * @param pricingType Filter by pricing type. (optional)
     * @param sorting Sorting criterion. Add a minus sign - before the criteria name to sort by descending order. (optional)
     * @param limit Size of a page, defaults to 10. Maximum is 100. (optional, default to 10)
     * @param page Page number, defaults to 1. (optional, default to 1)
     * @param isRecurring Filter on recurring products (subscriptions). If true, only subscription tiers are returned. If false, only one-time purchase products are returned. (optional)
     * @param isArchived Filter by archived status. (optional)
     * @param query Filter by product name (fuzzy, case-insensitive). (optional)
     * @param id Filter by product ID. (optional)
     * @return RequestConfig
     */
    fun productsListRequestConfig(pricingType: kotlin.String?, sorting: SortingProductsList?, limit: java.math.BigDecimal?, page: java.math.BigDecimal?, isRecurring: kotlin.Boolean?, isArchived: kotlin.Boolean?, query: kotlin.String?, id: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (pricingType != null) {
                    put("pricingType", listOf(pricingType.toString()))
                }
                if (sorting != null) {
                    put("sorting", listOf(sorting.value))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (isRecurring != null) {
                    put("is_recurring", listOf(isRecurring.toString()))
                }
                if (isArchived != null) {
                    put("is_archived", listOf(isArchived.toString()))
                }
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (id != null) {
                    put("id", listOf(id.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/products",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Unarchive Product
     * Restore an archived product back to active status, making it visible again.
     * @param id The unique product ID to unarchive.
     * @return ProductsUnarchive200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productsUnarchive(id: kotlin.String) : ProductsUnarchive200Response {
        val localVarResponse = productsUnarchiveWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductsUnarchive200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Unarchive Product
     * Restore an archived product back to active status, making it visible again.
     * @param id The unique product ID to unarchive.
     * @return ApiResponse<ProductsUnarchive200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productsUnarchiveWithHttpInfo(id: kotlin.String) : ApiResponse<ProductsUnarchive200Response?> {
        val localVariableConfig = productsUnarchiveRequestConfig(id = id)

        return request<Unit, ProductsUnarchive200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productsUnarchive
     *
     * @param id The unique product ID to unarchive.
     * @return RequestConfig
     */
    fun productsUnarchiveRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/products/{id}/unarchive".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Update Product
     * Update details of an existing product.
     * @param id The unique product ID.
     * @param productUpdate 
     * @return ProductMessageResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productsUpdate(id: kotlin.String, productUpdate: ProductUpdate) : ProductMessageResponseDto {
        val localVarResponse = productsUpdateWithHttpInfo(id = id, productUpdate = productUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductMessageResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Update Product
     * Update details of an existing product.
     * @param id The unique product ID.
     * @param productUpdate 
     * @return ApiResponse<ProductMessageResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productsUpdateWithHttpInfo(id: kotlin.String, productUpdate: ProductUpdate) : ApiResponse<ProductMessageResponseDto?> {
        val localVariableConfig = productsUpdateRequestConfig(id = id, productUpdate = productUpdate)

        return request<ProductUpdate, ProductMessageResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productsUpdate
     *
     * @param id The unique product ID.
     * @param productUpdate 
     * @return RequestConfig
     */
    fun productsUpdateRequestConfig(id: kotlin.String, productUpdate: ProductUpdate) : RequestConfig<ProductUpdate> {
        val localVariableBody = productUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/products/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
